<div class="header1" *ngIf="!myModel">
  <div class="header_info">
    <div class="header_Logo"><h1 class="header_logo">UFilm</h1></div>
    <div class="header_nav">
      <mat-slide-toggle (change)="swic($event)" [checked]="myModel">slide me</mat-slide-toggle>
      <p><a routerLink="movie" class="link1">Movies</a></p>
      <div class="user_info">
        <app-user-info></app-user-info>
      </div>
    </div>
  </div>
</div>

<div class="header" *ngIf="myModel">
  <div class="header_info">
    <div class="header_Logo"><h1 class="header_logo">UFilm</h1></div>
    <div class="header_nav">
      <mat-slide-toggle (change)="swic($event)" [checked]="myModel">slide me</mat-slide-toggle>
      <p><a routerLink="movie" class="link">Movies</a></p>
      <div class="user_info">
        <app-user-info></app-user-info>
      </div>
    </div>
  </div>
</div>
