<!--<mat-slide-toggle (change)="swic($event)" [checked]="myModel">slide me</mat-slide-toggle>-->

<div class="movie_container2" *ngIf="newtem()" >
  <div class="movie">
    <app-movies-list-card *ngFor="let movie of res.results" [movie]="movie"></app-movies-list-card>
  </div>
  <div class="pagination1">
    <app-pagination [res]="res" (next_lift)="next(1)" (back_lift)="back(1)" (first_lift)="first()"
                    (last_lift)="last()"></app-pagination>
  </div>
</div>


<div class="movie_container" *ngIf="!newtem()"  >
  <div class="movieTwo">
    <app-movies-list-card *ngFor="let movie of res.results" [movie]="movie"></app-movies-list-card>
  </div>
  <div class="pagination">
    <app-pagination [res]="res" (next_lift)="next(1)" (back_lift)="back(1)" (first_lift)="first()" (last_lift)="last()"></app-pagination>
  </div>
</div>





