.btn {
  display: flex;
  background: black;
  width: 100%;
  color: white;
}

.btn1 {
  display: flex;
  width: 100%;
}

.mat_icon:hover {
  align-items: center;
  transform: scale(1.5);

  background: gold;
  border-radius: 50%;
}

.page {
  height: 40px;
  width: 100px;
}
